/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}


#registration-form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registration-form form {
    display: flex;
    flex-direction: column;
}

#registration-form label {
    margin-top: 10px;
}

#registration-form input, 
#registration-form select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

#registration-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#registration-form button:hover {
    background-color: #0056b3;
}

/* Employee List */
#employee-list {
    padding: 20px;
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#employee-list ol {
    padding-left: 20px;
}

#employee-list a {
    text-decoration: none;
    color: #007BFF;
}

#employee-list a:hover {
    text-decoration: underline;
}

#employee-details {
    padding: 20px;
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#employee-details table {
    width: 100%;
    border-collapse: collapse;
}

#employee-details th, 
#employee-details td {
    padding: 10px;
    border: 1px solid #ddd;
}

#employee-details th {
    background-color: #f8f8f8;
}

#employee-details tr:nth-child(even) {
    background-color: #f9f9f9;
}


#map {
    padding: 20px;
    text-align: center;
}

#map iframe {
    width: 80%;
    height: 300px;
}
